[submodule "vendor/pico-sdk"]
	path = vendor/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "vendor/picoprobe"]
	path = vendor/picoprobe
	url = https://github.com/raspberrypi/picoprobe
