[submodule "obc/pico-sdk"]
	path = obc/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "obc/debug/picoprobe"]
	path = obc/debug/picoprobe
	url = https://github.com/raspberrypi/picoprobe
