[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "lib/datalink-c"]
	path = lib/datalink-c
	url = https://github.com/RocketScienceOfficial/datalink-c.git
