<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trash Can</title>
    <script src="/js/webSocketClient.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>TRASH CAN</h1>
    <input size="50" type="text" id="commandInputField" placeholder="Enter command...">
    <button width="30" id="submitButton">Submit</button>
    <p id="deviceConnectedText"></p>
    <div id="messages"></div>
    <script src="/js/uiControl.js"></script>
</body>

</html>